.mat-form-field {
    display: block;
}

.content {
    min-width: 60vh;
}

.list {
    min-width: 100%;
  }
  
  .button {
    height: 34px;
    line-height: 34px;
    background-color: #26a69a!important;
  }

  .option:hover { 
    cursor: pointer;
    background-image: initial;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: rgba(0, 0, 0, 0.04);
  }

  .teal-text {
    color: #009688;
  }
  
  .title {
    font-size: 24px;
    font-weight: 300;
  }

  .name-input {
    display: flex;
    align-items: center;
  }

  .name {
    width: 100%;
    padding-right: 1rem;
  }

  .left-padding {
    padding-left: 16px;
  }

  .buttons-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }