# .NET build output
[Bb]in/
[Oo]bj/
publish/
*.user

# Lambda packages
*.zip
!infra/modules/*/dummy.zip

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# IDE
.vs/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
