.form-container{
  width: 400px;
  margin: 0px auto;
}

.form-field{
  display: block
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header';
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: column;
  min-height: 90vh;
}

.header-grid-item {
  grid-area: header;
  min-width: 40vh;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #26a69a!important;
  padding:  0 2rem;
}
