<div class="grid-container">
  <mat-card class="header-grid-item">
    <mat-card-content>
      <div class="form-container">
        <form [formGroup]="loginForm">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Name
            </mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="loginForm.controls.name.touched && loginForm.controls.name.invalid">
              <span *ngIf="loginForm.controls.name.errors.required">This field is mandatory.</span>
              <span *ngIf="loginForm.controls.name.errors.maxLength">Max 20 characters.</span>
            </mat-error>
          </mat-form-field>
          <span>Draw your avatar!</span>
          <app-canvas (imageOutput)="imageUpdated($event)"></app-canvas>
          <div class="button-container">
            <button mat-raised-button color="primary" class="button" type="button" (click)="loginButtonClick()">Login</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
