<div *ngIf="gameState && game">
<app-game-setup
*ngIf="gameState?.currentGameState === 0"
[gameId]="gameId"
[joinedUsers]="game?.joinedUsers"
[questions]="game?.questions"
[gameName]="game?.name">
</app-game-setup>

<app-answer-question
*ngIf="gameState?.currentGameState === 1"
[gameId]="gameId"
[joinedUsers]="game?.joinedUsers"
[question]="getCurrentQuestion()"
[userScores]="gameState?.gameScores"
[questionsCount]="game?.questions.length"
>
</app-answer-question>

<app-review-question
*ngIf="gameState?.currentGameState === 2"
[gameId]="gameId"
[question]="getCurrentQuestion()"
[userScores]="gameState?.gameScores"
[answerResults]="gameState?.answerResults"
[lastQuestion]="gameState?.lastQuestionId === gameState?.currentQuestion"
></app-review-question>

<app-review-game
*ngIf="gameState?.currentGameState === 3"
[userScores]="gameState?.gameScores"
></app-review-game>

</div>
