<div class="grid-container">
<mat-card class="header-grid-item">
  <mat-card-content>
    <div class="form-container">
      <form [formGroup]="gameForm">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Game name
          </mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="gameForm.controls.name.touched && gameForm.controls.name.invalid">
            <span *ngIf="gameForm.controls.name.errors.required">This field is mandatory.</span>
            <span *ngIf="gameForm.controls.name.errors.maxLength">Max 20 characters.</span>
          </mat-error>
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" class="button" type="button" (click)="createNewGame()">Create new game</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
</div>