<div class="grid-container" *ngIf="!guessingDone">
  <mat-card class="header-grid-item">
    <mat-card-content>
      <div class="card-content">
        <span>Question {{question.order}} of {{questionsCount}} </span> <span class="teal-text title">{{question.name}}</span>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="answers-grid-item">
    <mat-card-content>
      <div class="card-content">

        <span class="teal-text title">{{guessing ? 'How do you think ' + guessingUser.name + ' would answer?' : 'Answer question'}}</span>
        <mat-list *ngIf="question.multipleAnswers" class="list top-margin">
          <mat-selection-list #variants [multiple]="true" [(ngModel)]="selectedVariants">
            <mat-list-option *ngFor="let variant of question.variants" [value]="variant.id" style="display:inline-block; width:50%; text-align:center;">
              {{variant.name}}
            </mat-list-option>
          </mat-selection-list> 
        </mat-list>

        <mat-radio-group *ngIf="!question.multipleAnswers" class="list top-margin" [(ngModel)]="selectedVariant">
          <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile *ngFor="let variant of question.variants">
            <mat-radio-button  [value]="variant.id" class="option">
              {{variant.name}}
            </mat-radio-button>
          </mat-grid-tile>
          </mat-grid-list>
        </mat-radio-group>

        <button *ngIf="!guessing" mat-raised-button color="primary" type="button" class="button" (click)="answerQuestion()">Answer</button>
        <button *ngIf="guessing" mat-raised-button color="primary" type="button" class="button" (click)="guessAnswer()">Guess</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="grid-container" *ngIf="guessingDone">
  <mat-card class="header-grid-item">
    <mat-card-content>
      <div class="card-content">
        <span class="teal-text title">Wait for others to finish voting</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>