<div class="grid-container" *ngIf="!guessingDone">
  <mat-card class="header-grid-item">
    <mat-card-content>
      <div class="card-content">
        <h4>{{guessing ? 'How ' + guessingUser.name + ' would answer question?' : 'How would you answer question?'}}</h4>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="question-grid-item">
    <mat-card-content>
      <div class="card-content">
        <h3>{{question.name}}</h3>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="answers-grid-item">
    <mat-card-content>
      <div class="card-content">
        <h4>Possible answers <b>{{question.multipleAnswers ? '(Multiple)' : ''}}</b></h4>
        <mat-list class="list">
          <mat-selection-list #variants [multiple]="question.multipleAnswers" [(ngModel)]="selectedVariants">
            <mat-list-option *ngFor="let variant of question.variants" [value]="variant.id">
              {{variant.name}}
            </mat-list-option>
          </mat-selection-list>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="users-grid-item">
    <mat-card-content>
      <div class="card-content">
        <h4>Scores</h4>
        <mat-list class="list">
          <mat-list-item class="option" mat-ripple *ngFor="let user of userScores">
            {{user.name}} ({{user.currentScore}})
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="answer-game-grid-item" style="grid-column: 1 / -1;" *ngIf="selectedVariants?.length > 0">
    <mat-card-content>
      <div class="card-content">
        <button *ngIf="!guessing" mat-raised-button color="primary" type="button" class="button" (click)="answerQuestion()">Answer</button>
        <button *ngIf="guessing" mat-raised-button color="primary" type="button" class="button" (click)="guessAnswer()">Guess</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="grid-container" *ngIf="guessingDone">
  <mat-card class="header-grid-item">
    <mat-card-content>
      <div class="card-content">
        <h4>Wait for others to finish voting</h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>