.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'answers answers';
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  gap: 20px;
  grid-auto-flow: column;
  min-height: 90vh;
}

.header-grid-item {
  grid-area: header;
  min-width: 60vh;
}

.answers-grid-item {
  grid-area: answers;
  min-width: 60vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.teal-text {
  color: #009688;
}

.list {
  min-width: 100%;
}

.button {
  height: 54px;
  line-height: 54px;
  background-color: #26a69a;
  padding:  0 2rem;
  margin-top: 2rem;
}

.title {
  font-size: 24px;
  font-weight: 300;
}

.option {
  width: 100%;
  padding-left: 1rem;
  height:100%
}

.option:hover { 
  cursor: pointer;
  background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.04);
}

.mat-radio-label {
  height: 100%;
}

.top-margin {
  margin-top: 1vh;
}