.grid-container {
  display: grid;
  grid-template-areas:
    'header header';
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: column;
  min-height: 90vh;
}

.header-grid-item {
  grid-area: header;
  min-width: 40vh;
}

.teal-text {
  color: #009688;
}

.button {
  margin-top: 1vh;
  background-color: #26a69a!important;
}

.title {
  font-size: 24px;
  font-weight: 300;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}
