<div class="grid-container">
  <mat-card class="header-grid-item">
      <mat-card-content class="card-content">
        <span class="teal-text title">Game is over</span>
        <span class="teal-text title">{{winnerText}}</span>
        <img *ngIf="showImage" style="width: 400px; height: 400px;" [src]="winnerAvatar"/>
        <span *ngFor="let user of userScores">{{user.name}} final score: <b>{{user.currentScore}}</b></span>
        <button mat-raised-button color="primary" class="button" routerLink="/" routerLinkActive="active">Home</button>
      </mat-card-content>
  </mat-card>
</div>
